.ingredient_item{
    width:272px;
    min-height:208px;
    /*border:1px dotted green;*/
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.ingredient_price{
    display:flex;
    align-items: center;
    justify-content: center;
}
.ingredient_title{
    text-align: center;
    height:48px;
    text-overflow: ellipsis;
}
.ingredient_pic{
    
}