.ingredients-list{
    /*border:1px dotted red;*/
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ingredients-tab{
    display: flex;
}

.ingredients-category-title{

}

.ingredients-category-list{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}